{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "overrides": [
    {
      "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
      ],
      "files": ["*.ts"],
      "rules": {
        "indent": ["warn", 2],
        "no-trailing-spaces": "warn",
        "key-spacing": "warn",
        "keyword-spacing": "warn",
        "comma-spacing": "warn",
        "arrow-spacing": "warn",
        "space-before-function-paren": "warn",
        "semi": "warn",
        "space-infix-ops": "warn",
        "space-before-blocks": "warn",
        "object-curly-spacing": "warn",
        "no-unused-vars": "warn"
      }
    }
  ]
}